<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113956311-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-113956311-1');
    </script>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.description | default: 'Personal website of Zuzana Hofmanová, Postdoctoral Researcher at University of Fribourg, Department of Biology.' }}">
    <meta name="google-site-verification" content="8_uqng9__SdB0VBMKhpnM6xQlrcIymwzoWqXTGwcmjw" />
    <title>{{ page.title }} &middot; {{ site.title }}</title>
    <link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

            <!-- <img src="../images/top1.JPG" width="660px" height="440px" class="header"> -->
          
            <h1 class="header-title">{{ site.title | default: site.github.repository_name }}</h1>
            <!-- <h2 id="project_tagline">{{ page.title | default: site.github.project_tagline }}</h2> -->

            <ul class="header-nav">

                <li class="header-nav-item{% if page.title == "About" %} active{% endif %}">
                    <a href="/">About</a>
                </li>
                <!-- <li class="header-nav-item{% if page.title == "Research" %} active{% endif %}">
                    <a href="research">Research</a>
                </li> -->
                <li class="header-nav-item{% if page.title == "Publications" %} active{% endif %}">
                    <a href="publications">Publications</a>
                </li>
                <li class="header-nav-item{% if page.title == "Contact" %} active{% endif %}">
                    <a href="contact">Contact</a>
                </li>
            </ul>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            {{ content }}
            <img src="../images/{{ page.title }}.jpg" class="content {% if page.title == "Publications" %} publications{% endif %}" alt="{{ page.title }}">
        </section>
    </div>

  </body>
</html>
